<div class="container text-center">
    <p>
      Posté par Eva, dernière mise à jour le
      <time datetime="{{ "now"|date('Y-m-d') }}">
        {{ "now"|date('d F Y') }}
      </time>
      — Tous droits réservés.
    </p>
</div>